/* Make sure html and body have height set to 100% */
html, body {
    height: 100%;
    margin: 0;
}

#wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#main-content {
    display: flex;
    flex: 1;
}

#sidebar {
    
    background-color: aliceblue;
    flex-basis: 15%;
}

#content {
    height: 100%; /* 2/3 of the sidebar's width */
    background: linear-gradient(to bottom left, #3399ff 0%, #ffffff 100%);
    flex-basis: 85%;
}

#task:hover{
    background-color: #ececec;
}