{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'todo/css/home.css' %}">
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}



<div id="wrapper">
    <div id="main-content">
        <div id="sidebar">
            sidebar
        </div>
        <div id="content">
            {% for task in task %}
            <div class="task">
                <div>{{task.title}}</div>
                <a href="{% url 'update' task.id %}">Update</a>
                <a href="{% url 'delete' task.id %}">Delete</a>
            </div>
            {% endfor %}
        </div>
        <!--<div id="task-form">
            task-form
        </div>-->
    </div>
</div>


<button id="load-html-button">Load HTML</button>
    <div id="html-content"></div>

    <script src="{% static 'todo/js/home.js' %}"></script>

<form method="POST">
    {% csrf_token %}
    {{form.title}}
    <input type="submit" name="" id="">
</form>


